.navigation__button {
  border: none;
  width: 19px;
  height: 19px;
  position: relative;
  display: flex;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-text-second;
    border-radius: 50%;
    transition: 0.2s;
    border: 1px solid black;
  }

  &:hover div {
    transform: scale(3.4);

    @media (max-width: 1000px) {
      transform: scale(1);
    }
  }

  &:hover span {
    opacity: 1;
    transform: scaleX(6);
  }

  span {
    display: block;
    width: 75%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.598);
    z-index: 50;
    opacity: 0;
    transition: 0.3s;
    z-index: 100;

    &:nth-last-of-type(1) {
      margin-top: 5px;

      @media (max-width: 1000px) {
        transform: rotate(45deg);
      }
    }
    @media (max-width: 1000px) {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    z-index: 100;
  }
}
