@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");

$font-size: 0.7vw;
$font-size-text: $font-size * 3;
$font-size-title: $font-size * 45;
$font-size-interactive: $font-size * 2.5;
$font-size-paragraph: $font-size * 2.3;
$font-size-menu-sides-links: $font-size * 9;
$font-size-menu-media-links: $font-size * 3;

$font-family-second: "Moon Dance", cursive;
$font-family-main: "Teko", sans-serif;
