.footer__contact {
    width: 50%;
    padding: 2vw 6vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vw;
    color: white;

    h3 {
        font-size: $font-size-text;
    }

    &__element {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;

        p {
            font-size: $font-size-text;
        }

        span {
            font-size: $font-size-paragraph;
        }
    }
}

.footer__myProfiles {
    padding-right: 7vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 2vw;
    
    img {
        height: 3vw;
    }
}
