.content_aboutMe {
    color: white;
    font-size: $font-text;
    width: 50%;
    margin-bottom: 20vw;

    &_visible {
        text-transform: uppercase;
        font-size: $font-text * .8;
        margin-bottom: 3vw;
    }

    &_hidden {
        font-size: $font-text * .7;
        position: relative;
    }
    
    &_button {
        background-color: $color-web-background;
        height: 100%;
        position: absolute;
        width: 100%;
        top:0;
        transition: 1s;

        &--on {
            transform: translateY(100%);
            margin-top: 3vw;
        }

        &--off {
            transform: translateY(0%);
        }
    }
}