.content_aboutMe {
  width: 50%;
  margin-bottom: 20vw;

  &_visible {
    text-transform: uppercase;
    font-size: $font-size-text * 0.8;
    margin-bottom: 3vw;

    @media (max-width: 992px) {
      font-size: $font-size-text * 1.9;
    }

    @media (max-width: 600px) {
      font-size: $font-size-text * 4;
    }
  }

  &_hidden {
    font-size: $font-size-text * 0.7;
    position: relative;

    @media (max-width: 992px) {
      font-size: $font-size-text * 1.4;
    }

    @media (max-width: 600px) {
      font-size: $font-size-text * 3;
    }
  }

  &_button {
    background-color: $color-web-background;
    font-family: $font-family-second;
    font-size: $font-size-interactive;
    cursor: pointer;
    color: $color-text-second;
    font-style: italic;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    transition: 1s;

    &--on {
      transform: translateY(100%);
      margin-top: 3vw;
    }

    &--off {
      transform: translateY(0%);
    }

    @media (max-width: 992px) {
      font-size: $font-size-text * 1.9;
    }

    @media (max-width: 600px) {
      font-size: $font-size-text * 4;
    }
  }

  @media (max-width: 992px) {
    width: 80%;
  }

  @media (max-width: 600px) {
    width: 90%;
  }
}
