@import '../homeContentElements/scss/aboutMe';
@import '../homeContentElements/scss/myCollection';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}